.avatar {
	@include displayFlex(row,center,center);
	padding: 20px 0;
	min-width: 100%;
	min-height: 35%;
	text-align: center;
	@include borderStyleNavBottom();
	a{
		max-height: 200px;
		max-width: 200px;
		border-radius: 1000px;
		border: 6px solid #2e344e;
		overflow: hidden;
		display: inline-block;
		vertical-align: middle;
	}
	img{
		max-width: 100%;
		max-height: 100% ;
	}
}