body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*sans-serif;*/
  /*-webkit-font-smoothing: antialiased;*/
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 1.8rem;
  font-family: Nunito, sans-serif;
  color: #a4acc4;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  overflow: auto;
}

*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #383838;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #6b6b6b;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #383838;
}

::selection {
  background: #037fff;
  color: #fff;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
      font-size: 16px;
  }
}

